.thread{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: .75;
}

.thread__header{
    display: flex;
    border-bottom: 1px solid rgba(190,190,190,.1);
    align-items: center;
    align-content: center;
    justify-content:space-between;
}

.thread__header__contents{
    display: flex;
    align-content:center;
    justify-content: center;
    color: #fff;
    padding: 10px;
}

.thread__header__contents__info> h5{
    font-weight:500;
    color: gray;
}

.thread__header__details{
    color: #fff;
}

.thread__header__details:hover{
    color: rgba(2,150,199);
}

.thread__messages{
    flex: 1;
    overflow:scroll;
}

.thread__messages::-webkit-scrollbar{
    display: none;
}

.thread__input{
    display: flex;
    align-items: center;
    padding:10px 20px;
    background-color:transparent;
    border-top: 1px solid rgba(190,190,190,.1);
}

.thread__input > form {
    display: flex;
    flex: 1;
}

.thread__input > form > input {
    width:90%;
    outline-width: 0;
    border: none;
    border-radius:0;
    background-color:transparent;
    padding:5px;
    color: #fff;
}

.thread__input > form >button{
    color: #fff;
}

.thread__input > form >button:hover{
    color: rgba(2,150,199);
}

.thread__submit {
    display:none;
}